<header class="header">
  <a class="logo" data-path="index"><img class="logo-img" src="/assets/images/logo/logo.png" alt="Logo_Nils_Digital">&nbsp;Nils-Digital</a>
  <div class="menu-toggle" id="menu-toggle">
    <span></span><span></span><span></span>
  </div>

  <nav id="nav-menu" class="main-nav">
    <ul>
      <li><a class="nav-link" data-path="index">Startseite</a></li>
      <li><a class="nav-link" data-path="pages/webdesign-leistung.html">Leistungen</a></li>
      <li><a class="nav-link" data-path="pages/projekte.html">Projekte</a></li>
      <li><a class="nav-link" data-path="pages/team.html">Das Team</a></li>
      <li><a class="nav-link" data-path="pages/ueber-uns.html">Über uns</a></li>
      <li><a class="nav-link" data-path="pages/blog.html">Blog</a></li>
      <li class="nav-item has-dropdown">
        <span class="nav-link dropdown-toggle">
          Kontakt
          <span class="dropdown-arrow"></span>
        </span>
        <ul class="dropdown">
          <li><a class="nav-link" data-path="pages/kontakt.html">Kontaktformular</a></li>
          <li><a class="nav-link" data-path="pages/projektfragebogen.html">Projektanfrage</a></li>
          <li><a class="nav-link" data-path="pages/reservierung.html">Termine</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
